/*폰트 사이즈가 안보임.*/
//menu-item font가 확인이 안됨. 
@import '../../../styles/utils';
@import '../../../styles/font.css';



.header{
    height : 1080px; 
    width: 2560px; 

    .background{  
        height : 1080px; 
        width: 100%;
        background-image: url(../picture/test.png);
        //background-size: cover;
        //position: relative;
        alt: "mainpage_background";
    
        .upper{
            height : 137px; 
            width: 2560px;
            display: flex;
            

            .mainlogo1{
                margin-top: 87px;
                margin-left: 258px;
                margin-top: auto;
                margin-right: auto;
            
                width: 308px;
                height: 50px;
                cursor: pointer;
            }

            .menu-list{
                display: flex; //이게 없으면 memu, news 글씨가 겹침.
                margin-top: 87px;
                margin-right: 386px;
                margin-left: auto;
                margin-top: auto;
                

                .menu-item{ //font 확인이 안됨. 
                        display: flex;
                        width: 81px;
                        height: 20px;
                        font-family: "NanumSquareEB";
                        font-size: 1.467rem;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 0.0918rem;
                        letter-spacing: -0.13‬rem;
                        text-align: left;
                        color: #ffffff; 
                        align-items: center;
                        justify-content: center; //aling, justify는 가운데 정렬. 나중에 필요하면 justify는 flex-start로 바꾸기
                        cursor: pointer; // 메뉴 아이템에 마우스를 올렸을 때 마우스모양이 손으로 바뀜.
                        padding-bottom: 7px;


                        &:hover{ //메뉴 아이템에 마우스를 올렸을 때
                            color:  #97a8aa;
                            border-bottom: 2px solid  #36b1bf;
                            
                        }
                    
                    }
            
                .menu-item + .menu-item{  
                    border-left: 2px solid #ffffff ;
                    margin-left: 10px;
                    padding-left: 10px;
                }
            
            }
        }
    }

    .middle1{
        height : 545px; 
        width: 2560px;
        display: flex;
        

        .title-box{ 
            
            width: 880px;
            height: 340px;
            margin: 0 auto; //가운데 정렬
            border-width: 10px; border-style: solid; border-color : #ffffff;  //background 바꾼 뒤 white로 바꾸기.

            //내부 타이틀 세로 가운데 정렬
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            //title-box를 middle1의 가장 아래쪽으로 보내기
            margin-top: auto;

            .subtitle{
                
                height: 66px;
                width: 597px;
                font-family: "NanumSquareRoundB";
                font-size: 68px; //원래 font-size=70인데 70으로 하면 한줄에 다 안써져서 줄임.  
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
                //display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 38px;
                margin-bottom: auto;

            }

            .title{
                height: 135px;
                width: 597px;

                //font
                font-family: "wigglehangeul";
                font-size: 150px;
                color:#ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 38px;
                margin-top:auto;
            }
        
        }

    }

    .middle2{
        height: 162px;
        width: 2560px;

        //내부 타이틀 세로 가운데 정렬
        display: flex;
        align-items: center;
        justify-content: center;

        .script{
            height: 34px;
            width: 341px;
            //font
            font-family: "NanumGothic";
            font-size: 34px;
            line-height: normal;
            letter-spacing: -2.45px;
            text-align: center;
            color: #ffffff;
        }

    }

    .lower{
        width: 2560px;
        height: 236px;
        display: flex;
        object-fit: contain;

        //내부 타이틀 세로 가운데 정렬
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: auto;
        
         
        .store{
            width: 193.5px;
            height: 60px;
            margin-bottom: auto;
            cursor: pointer;
            border-radius: 7px;
        }
       

        //두 스토어 사이의 중간 여백
        .store+ .store{
            margin-left: 20px;
            padding-left: 20px;
        }
    }
}

