/* Note. 이후에 수정해야 할 것.
제플린 디자인 수정되면, height, width를 비율로 바꾸기.
제플린에서 footer. background 컬러가 안보임. 
upper의 margin left,right 비율을 홈페이지 마크 삽입 후 재조정해야함.(마크가 없어서 임의로 비율을 맟춤)
media를 이용해 (p.200) 화면 크기에 따른 보이는 정도를 추가할 것.
Footer의 배경색 코드 물어보기. open-color를 썼는데 디자인 보다 밝게 나옴.
*/

@import '../../../styles/utils';
@import '../../../styles/font.css';

.mainlogo2{
    margin-top: 71px;
    margin-left: 423px;

    width: 310px;
    height: 51px;
}

.footer{
    background: $oc-cyan-9;
    height : 450px; 
    width: 2560px;


    //내용 가운데 정렬
    display: flex;
    //align-items: center;
    //justify-content: flex-start;
    flex-direction: column; // Header, Content, Footer가 위에서 아래로 위치.

    .upper{
        display: flex;
        height: 122px;
        //width: 160rem;
        //flex-direction: row; //같은 upper면 왼쪽에서 오른쪽으로 위치.


        .font{
            display: flex;
            margin-top: 71px;
            font-family: "NanumSquareEB";
            font-size: 32px;
            line-height: 1.47;
            letter-spacing: -2.08px;
            text-align: left;
            color: #36b1bf;
            align-items: center;
            justify-content: center; //aling, justify는 가운데 정렬. 나중에 필요하면 justify는 flex-start로 바꾸기.

            &.index1{
                margin-left: 445px; //아직 홈페이지 마크가 안나와서 임의로 맞춘 비율. 이건 향후 홈페이지 마크 삽입하면 새로 비율 맞추기.

            }
            &.index2{
                margin-left:248px;
            }
            &.index3{
                margin-left: 253px;
                
            }
        }

    }
       
    .middle{
        display: flex; //같은 middle이면 왼쪽에서 오른쪽으로 위치.
        height: 252px; 
        margin-top: 23px;

        .font{
            display: flex;
            flex-direction: column;
            font-family: "NanumSquareR";
            font-size: 24px;
            line-height: 1.96px;
            letter-spacing: -1.56px;
            text-align: left;
            color: #ffffff;
            align-items: flex-start;
            justify-content: flex-start; //aling, justify는 왼쪽, 맨위 정렬. 
        
            &.info{
                width: 595px;
                padding-left: 417px;    
            }

            &.list1{
                width: 162px‬‬;
                
                margin-left: 167px; 
                //margin-left가 작동을 안해서 info의 margin-right로 바꿈.
                
                &:hover{
                    cursor: pointer;
                }
            }

            &.list2{
                width: 99px;
                margin-left: 168px;
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .link{
            display: flex;
            width: 337px;
            height: 82px;
            margin-left: 197px;
            margin-top: 26px;
            
            .link_style{
                height: 82px;
                width: 85px;
                cursor: pointer;
            }

            .link_style + .link_style {
                padding-left: 42px;
            }
        }

        
    }

    .lower{
        height: 53px;
        display:flex;
        align-items: flex-start;
        justify-content: center;
        
        .copyright{
        font-family: "NanumSquareR";
        font-size: 16px;
        line-height: 1.96px;
        letter-spacing: -1px;
        text-align: left;
        color: #ffffff;

        }
    }
}
